@import url('https://fonts.googleapis.com/css?family=Lato:700|Montserrat|Open+Sans');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

video {
  width: 100%;
  height: 100vh;
  object-fit: fill;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

.z1 {
  z-index: 1;
}

#row {
  display: flex;
  flex-direction: row;
}

#column {
  display: flex;
  flex-direction: column;
}

#horizontal {
  display: flex;
  align-items: center;
}

#vertical {
  display: flex;
  justify-items: center;
}

.alignStart {
  display:flex;
  align-items: flex-start
}

.whiteText {
  color: white;
}

.mt20 {
  margin-top: 20px
}